@model Core3MVC.Models.App

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>App</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonAlertsID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonAlertsID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlertType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlertType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
